<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
<title>El Blog de la UQ</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="author" content="Duban RUbiano">
<meta name="keywords" content="Blog, Universidad, educación">
<meta name="theme-color" content="#2d572c">
<link rel="shortcut icon" href="img/ico/bloque2.ico">
<link rel="stylesheet" href="styles.css/style.css">

<link rel="canonical" href="http:LINK DEL SITIO" />
<meta property="og:locale" content="es_ES" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Néstor Domínguez | Arte sobre ciencia y ecología" />
<meta property="og:url" content="http:LINK DEL SITIO" />
<meta property="og:site_name" content="El blog de la UQ" />


</head>
	
	
<body> 
	
	<div class="wrapper">
		<header>
	<h1><a href="/" title="Inicio">El Blog de la UQ</a></h1>
	<div class="menuExtendido">
		<nav class="navPrincipal">
			<ul>
				<li><a href="/" title="Ir a la página principal">Incio</a></li>
				<li><a href="Categorias">Categorias</a></li>
				<li><a href="articulos" title="Ir a la sección Artículos">Escritos</a></li>
				
				
				
				
				
				
				<li><a href="noticias" title="Ir a la sección Noticias">Perfil</a></li>
			</ul>
		</nav>
		
	</div>
			
			
				
</header>
	</div>
		
		</body>
		</html>