{% load static %}

<!doctype html>
<html>
<head>
<meta lang="en">
<meta charset="utf-8">
<link rel="shortcut icon" href="{% static 'img/ico/bloque2.ico' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" integrity="sha512-F5QTlBqZlvuBEs9LQPqc1iZv2UMxcVXezbHzomzS6Df4MZMClge/8+gXrKw2fl5ysdk4rWjR0vKS7NNkfymaBQ==" crossorigin="anonymous"></script>
<title>Profile</title>
<link rel="stylesheet"  href= "{% static 'css/profile.css' %}">
</head>

<body>


    <div class="wrapper">
        <div class="container">
            <div class="card-container">
                <div class="header">
                    <a href="#">
                        <img src="{% static 'img/indice.jpg' %}" height="150px" width="150px" alt="profile photo">
                    </a>   
                    <h2>A Profile name</h2>   
                    <h4>Escritor de mkdas</h4>           
                </div>

                <div class="descripcion">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque molestias dolores nulla veritatis dolorum? Voluptatem mollitia soluta eius repudiandae sit ad nesciunt odit officiis, temporibus iure quasi aut quo?</p>
                    <div class="social">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram-square"></i></a>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="container">
            <div class="card-container">
                <div class="header">
                    <a href="#">
                        <img src="{% static 'img/ico/bloque2.ico' %}" height="150px" width="150px" alt="profile photo">
                    </a>   
                     
                </div>

                <div class="descripcion">
                    <h4>Work title</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet atque molestias dolores nulla veritatis dolorum? Voluptatem mollitia soluta eius repudiandae sit ad nesciunt odit officiis, temporibus iure quasi aut quo?</p>
                
                </div>
            </div>
        </div>


        

    </div>
</body>
</html>
      